extends ../layout

#featured.col-sm-12
    .page-header.text-muted
        | Featured

.row
    .col-sm-10
        h3 This is Some Awesome Featured Content

        h4
            span.label.label-default techvisually.com
        h4
            small.text-muted
                | 1 hour ago &bull;
                a.text-muted(href='#') Read More

    .col-sm-2
        a.pull-right(href='#')
            img.img-circle(src='http://api.randomuser.me/portraits/thumb/men/19.jpg')

#stories.col-sm-12
    .page-header.text-muted.divider
        | Top Stories

.row
    .col-sm-10
        h3 Dramatically Raise the Value of Any Piece of Content

        h4
            span.label.label-default searchenginewatch.com
        h4
            small.text-muted
                | 1 hour ago &bull;
                a.text-muted(href='#') Read More

    .col-sm-2
        a.pull-right(href='#')
            img.img-circle(src='http://api.randomuser.me/portraits/thumb/men/86.jpg')

.row.divider
    .col-sm-12
        hr

.row
    .col-sm-10
        h3 14 Useful Sites for Designers

        h4
            span.label.label-default devgarage.com
        h4
            small.text-muted
                | 2 days ago &bull;
                a.text-muted(href='#') Read More

    .col-sm-2
        a.pull-right(href='#')
            img.img-circle(src='http://api.randomuser.me/portraits/thumb/men/19.jpg')

.row.divider
    .col-sm-12
        hr

.row
    .col-sm-10
        h3 Bootstrap Builders Get Their Own Playground

        h4
            span.label.label-default bootply.com
        h4
            small.text-muted
                | 3 days ago &bull;
                a.text-muted(href='#') Read More

    .col-sm-2
        a.pull-right(href='#')
            img.img-circle(src='http://api.randomuser.me/portraits/thumb/women/17.jpg')

.row.divider
    .col-sm-12
        hr

.row
    .col-sm-10
        h3 How to: Another Fantastical Article

        h4
            span.label.label-default bootply.com
        h4
            small.text-muted
                | 4 days ago &bull;
                a.text-muted(href='#') Read More

    .col-sm-2
        a.pull-right(href='#')
            img.img-circle(src='http://api.randomuser.me/portraits/thumb/men/86.jpg')

.row.divider
    .col-sm-12
        hr

.row
    .col-sm-9
        h3 Another Fantastical Article of Interest

        h4
            span.label.label-default bootply.com
        h4
            small.text-muted
                | 4 days ago &bull;
                a.text-muted(href='#') Read More

    .col-sm-3
        a.pull-right(href='#')
            img.img-circle(src='http://api.randomuser.me/portraits/thumb/women/17.jpg')

.col-sm-12
    .page-header.text-muted.divider
        | Up Next

.row
    .col-sm-4.text-center
        h4 Related 1

        a(href='#')
            img.img-respsonsive.img-circle(src='//placehold.it/400/f0f0f0')

    .col-sm-4.text-center
        h4 Related 2

        a(href='#')
            img.img-respsonsive.img-circle(src='//placehold.it/400/f0f0f0')

    .col-sm-4.text-center
        h4 Related 3

        a(href='#')
            img.img-respsonsive.img-circle(src='//placehold.it/400/f0f0f0')

hr