<div class="signup-container">
  <div class="col-md-9 text-center">
    <h3 class="signup-heade">Signup as a New User</h3>
    <hr>
    <br>
  </div>
 
  <div class="signup-form">    
    <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-9 col-md-offset-1">
      <input id="firstname" name="firstname" ng-model="signup.user.firstname" type="text" placeholder="First Name..." class="form-control input-md">  
      </div>
      <div class="col-md-9 col-md-offset-1">
      <input id="lastname" name="lastname" ng-model="signup.user.lastname" type="text" placeholder="Last Name..." class="form-control input-md">  
      </div> 
      <div class="col-md-9 col-md-offset-1">
      <input id="email" name="email" ng-model="signup.user.email" type="text" placeholder="user@example.com" class="form-control input-md">  
      </div>
      <div class="col-md-9 col-md-offset-1">
        <input id="password1" name="password1" ng-model="signup.user.password1" type="password" placeholder="password" class="form-control input-md">
      </div>
      <div class="col-md-9 col-md-offset-1">
        <input id="password2" name="password2" ng-model="signup.user.password2" type="password" placeholder="password" class="form-control input-md">   
      </div>
      <div class="col-md-9 col-md-offset-1">
        <button ng-click="signup.submit()" id="signup" name="signup" class="btn btn-success btn-block">Signup!</button>
      </div>
    </div>
    </form>
  </div>
 
</div>